				*{
				margin: 0px;
				padding: 0px;
			}
			body{
				min-width: 1305px;
				font-size: 14px;
			}
			a{

			    text-decoration: none;
			    color:black;
			}
			li{
				list-style: none;
			}
			span{
			  display: inline-block;	
			}
			 .header-hover-content-city1 {
				position: absolute;
				top:67px;
				left: 0;
				
			}
			.header-hover-content-line{
				opacity: 0.3;
			}
			.header-hover-content-line1{
				width:543px;
				position: absolute;
				top:118px;
				left:50%;
				margin-left:-278px;
				opacity: 0.3;
				
			}
			
			 .header-hover-content-city2 {
				position: absolute;
				top:130px;
				left: 0;
				
			}
			
			.header-hover-content-city3 {
				position: absolute;
				top:165px;
				left: 0;
				}
				
			.header-hover-content-city4 {
				position: absolute;
				top:200px;
				left: 0;
				
			}
			.header-hover-content-city5 {
				position: absolute;
				top:260px;
				left: 0;
				
			}
			.header-hover-content-city6 {
				position: absolute;
				top:320px;
				left: 0;
				
			}
			.header-hover-content-city7{
				position: absolute;
				top:355px;
				left: 0;
				
			}
			.header-hover-content-city8{
				position: absolute;
				top:390px;
				left: 0;
				
			}
			.header-hover-content-city9{
				position: absolute;
				top:450px;
				left: 0;
				
			}
			.header-hover-content-city10{
				position: absolute;
				top:510px;
				left: 0;
				
			}
			.header-hover-content-city11{
				position: absolute;
				top:540px;
				left: 0;
				
			}
			.header-hover-content-city12{
				position: absolute;
				top:600px;
				left: 0;
				
			}
			.header-hover-content-city13{
				position: absolute;
				top:630px;
				left: 0;
				
			}
				.header-hover-content-city14{
				position: absolute;
				top:690px;
				left: 0;
				
			}
				.header-hover-content-city15{
				position: absolute;
				top:720px;
				left: 0;
				
			}
				.header-hover-content-city16{
				position: absolute;
				top:750px;
				left: 0;
				
			}
				.header-hover-content-city17{
				position: absolute;
				top:810px;
				left: 0;
				
			}
			.header-hover-content-city18{
				position: absolute;
				top:870px;
				left: 0;
				
			}
			.header-hover-content-city19{
				position: absolute;
				top:930px;
				left: 0;
				
			}
				.header-hover-content-city20{
				position: absolute;
				top:990px;
				left: 0;
				
			}
				.header-hover-content-city21{
				position: absolute;
				top:1050px;
				left: 0;
				
			}
			
			
			.header-hover-content-city1 li{
				float:left;
				height: 45px;
				width: 60px;
				line-height:45px;
				margin-right: 25px;
			}
			.header-hover-content-city1 .near{

				margin-left: 28px;
				margin-right:12px;	
			}
			
		   .header-hover-content-city .last{
				margin-left:100px;
				height:25px;
				line-height:25px;

				
			}
			.header-hover-content-city li{
				float:left;
				height: 45px;
				width: 60px;
				line-height:45px;
				margin-right: 25px;
				
			}
			.header-hover-content-city .near{

				margin-left: 28px;
				margin-right:12px;	
			
			}
			.header-hover-content-city2 li{
				float:left;
				height: 30px;
				width: 60px;
				line-height:30px;
				margin-right: 25px;
				
			}
			.header-hover-content-city2 .near{

				margin-left: 42px;
				margin-right:12px;
				width: 48px;
			}
			.header-hover-content-city3 li{
				float:left;
				height: 30px;
				width: 60px;
				line-height:30px;
				margin-right: 25px;
				
			}
			.header-hover-content-city3 .near{

				margin-left: 42px;
				margin-right:12px;
				width: 48px;
			}
			
			.header-hover-content-city4 .last{
				margin-left:103px;
				height:30px;
				line-height:30px;
				
			}
			.header-hover-content-city4 li{
				float:left;
				height: 30px;
				width: 60px;
				line-height:30px;
				margin-right: 25px;
				
			}
			.header-hover-content-city4 .near{

				margin-left: 42px;
				margin-right:12px;
				width: 48px;
			
			}
			 .header-hover-content-city5 .last{
				margin-left:103px;
				height:30px;
				line-height:30px;
				
			}
			.header-hover-content-city5 li{
				float:left;
				height: 30px;
				width: 60px;
				line-height:30px;
				margin-right: 25px;
				
			}
			.header-hover-content-city5 .near{

				margin-left: 42px;
				margin-right:12px;
				width: 48px;
			
			}
				.header-hover-content-city6 li{
				float:left;
				height: 30px;
				width: 60px;
				line-height:30px;
				margin-right: 25px;
				
			}
			.header-hover-content-city6 .near{

				margin-left: 44px;
				margin-right:12px;
				width: 48px;
			}
				.header-hover-content-city7 li{
				float:left;
				height: 30px;
				width: 60px;
				line-height:30px;
				margin-right: 25px;
				
			}
			.header-hover-content-city7 .near{

				margin-left: 44px;
				margin-right:12px;
				width: 48px;
			}
			 .header-hover-content-city8 .last{
				margin-left:103px;
				height:30px;
				line-height:30px;
				
			}
			.header-hover-content-city8 li{
				float:left;
				height: 30px;
				width: 60px;
				line-height:30px;
				margin-right: 25px;
				
			}
			.header-hover-content-city8 .near{

				margin-left: 42px;
				margin-right:12px;
				width: 48px;
			
			}
			 .header-hover-content-city9 .last{
				margin-left:103px;
				height:30px;
				line-height:30px;
				
			}
			.header-hover-content-city9 li{
				float:left;
				height: 30px;
				width: 60px;
				line-height:30px;
				margin-right: 25px;
				
			}
			.header-hover-content-city9 .near{

				margin-left: 42px;
				margin-right:12px;
				width: 48px;
			
			}
					.header-hover-content-city10 li{
				float:left;
				height: 30px;
				width: 60px;
				line-height:30px;
				margin-right: 25px;
				
			}
			.header-hover-content-city10 .near{

				margin-left: 42px;
				margin-right:12px;
				width: 48px;
			}
		    	.header-hover-content-city11 .last{
				margin-left:103px;
				height:30px;
				line-height:30px;
				
			}
			.header-hover-content-city11 li{
				float:left;
				height: 30px;
				width: 60px;
				line-height:30px;
				margin-right: 25px;
				
			}
			.header-hover-content-city11 .near{

				margin-left: 42px;
				margin-right:12px;
				width: 48px;
			
			}
			.header-hover-content-city12 li{
				float:left;
				height: 30px;
				width: 60px;
				line-height:30px;
				margin-right: 25px;
				
			}
			.header-hover-content-city12 .near{

				margin-left: 42px;
				margin-right:12px;
				width: 48px;
			
			}
			    	.header-hover-content-city13 .last{
				margin-left:103px;
				height:30px;
				line-height:30px;
				
			}
			.header-hover-content-city13 li{
				float:left;
				height: 30px;
				width: 60px;
				line-height:30px;
				margin-right: 25px;
				
			}
			.header-hover-content-city13 .near{

				margin-left: 42px;
				margin-right:12px;
				width: 48px;
			
			}
					.header-hover-content-city14 li{
				float:left;
				height: 30px;
				width: 60px;
				line-height:30px;
				margin-right: 25px;
				
			}
			.header-hover-content-city14 .near{

				margin-left: 42px;
				margin-right:12px;
				width: 48px;
			}
				.header-hover-content-city15 li{
				float:left;
				height: 30px;
				width: 60px;
				line-height:30px;
				margin-right: 25px;
				
			}
			.header-hover-content-city15 .near{

				margin-left: 42px;
				margin-right:12px;
				width: 48px;
			}
				    	.header-hover-content-city16 .last{
				margin-left:103px;
				height:30px;
				line-height:30px;
				
			}
			.header-hover-content-city16 li{
				float:left;
				height: 30px;
				width: 60px;
				line-height:30px;
				margin-right: 25px;
				
			}
			.header-hover-content-city16 .near{

				margin-left: 42px;
				margin-right:12px;
				width: 48px;
			
			}
			 .header-hover-content-city17 .last{
				margin-left:103px;
				height:30px;
				line-height:30px;
				
			}
					.header-hover-content-city17 li{
				float:left;
				height: 30px;
				width: 60px;
				line-height:30px;
				margin-right: 25px;
				
			}
			.header-hover-content-city17 .near{

				margin-left: 42px;
				margin-right:12px;
				width: 48px;
			}
			 .header-hover-content-city18 .last{
				margin-left:103px;
				height:30px;
				line-height:30px;
				
			}
					.header-hover-content-city18 li{
				float:left;
				height: 30px;
				width: 60px;
				line-height:30px;
				margin-right: 25px;
				
			}
			.header-hover-content-city18 .near{

				margin-left: 42px;
				margin-right:12px;
				width: 48px;
			}
				 .header-hover-content-city19 .last{
				margin-left:103px;
				height:30px;
				line-height:30px;
				
			}
					.header-hover-content-city19 li{
				float:left;
				height: 30px;
				width: 60px;
				line-height:30px;
				margin-right: 25px;
				
			}
			.header-hover-content-city19 .near{

				margin-left: 42px;
				margin-right:12px;
				width: 48px;
			}
				 .header-hover-content-city20 .last{
				margin-left:103px;
				height:30px;
				line-height:30px;
				
			}
					.header-hover-content-city20 li{
				float:left;
				height: 30px;
				width: 60px;
				line-height:30px;
				margin-right: 25px;
				
			}
			.header-hover-content-city20 .near{

				margin-left: 42px;
				margin-right:12px;
				width: 48px;
			}
				 .header-hover-content-city21 .last{
				margin-left:103px;
				height:30px;
				line-height:30px;
				
			}
					.header-hover-content-city21 li{
				float:left;
				height: 30px;
				width: 60px;
				line-height:30px;
				margin-right: 25px;
				
			}
			.header-hover-content-city21 .near{

				margin-left: 42px;
				margin-right:12px;
				width: 48px;
			}
			.header-hover-content-city21{
				margin-bottom: 70px;
			}
			
			
			